.table-responsive {
  min-height: auto;
  max-height: 96vh;
}

.table-sort thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-sort th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

.table-sort thead th[data-sort] {
  cursor: pointer;
  user-select: none;
}
.table-sort thead th .indicator {
  margin-left: 0.4rem;
  opacity: 0.6;
}

.table-sort thead th[aria-sort="ascending"] .indicator::after {
  content: "▲";
  opacity: 1;
}
.table-sort thead th[aria-sort="descending"] .indicator::after {
  content: "▼";
  opacity: 1;
}
.table-sort thead th[aria-sort="none"] .indicator::after {
  content: "↕";
}
